.App{
  background-image: url("../src/alertatx_images/b&wATXpic4.jpg");
  background-size: cover;
  background-position: center;
  height: 800px;
} 

/***************** home page css  ********************/

h1 {
  padding-top: 50px;
  display: flex;
  position: inherit;
  flex-direction: column;
  justify-content: center;
  font-size: 160px;
  color:rgb(184,26,57);
  font-family: Impact;
  text-indent: 50px;
  text-shadow: 20px 20px 40px black;
  letter-spacing: 5px;
  margin-top:inherit;
  margin-bottom: inherit;
}

h1:hover {
  text-shadow: 7px 7px 14px black;
}

.app-title h2 {
  display: flex;
  position: inherit; 
  flex-direction: column;
  font-size: 45px;
  color: white;
  text-shadow: 5px 5px 10px firebrick;
  text-indent: 90px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 60px;
  padding-top: -80px;

}

.inline-section {
  display: flex;
  text-align: center;
  position: inherit; 
  flex-direction: row;
  font-size: 32px;
  color: white;
  text-shadow: 15px 15px 30px black;
  text-indent: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

/***************** navbar component ********************/

.nav-list {
  display: flex;
  justify-content: center;
}

/***************** report page ********************/
.menu-btn {
    width: 300px;
    height: 70px;
    border-radius: 15px;
    border-color: firebrick;
    font-size: 40px;
    background-image: linear-gradient( silver, black);
    transition: all 150ms ease-in-out;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.menu-btn:hover {
      box-shadow: 0 0 10px 0 firebrick inset, 0 0 10px 4px black;
      color: white;
} 

/***************** about page ********************/

.about-page {
    background-image: linear-gradient(black, silver, black);
    width: 1500px;
    min-height: 1000px;
    font-size: 20px;
    color: white;
    text-shadow: 5px 5px 10px firebrick;
    padding-top: 50px;
    text-align: center;
} 

.login-page {
  background-image: linear-gradient(black, silver, black);
  width: 1500px;
  min-height: 1000px;
  font-size: 25px;
  color: white;
  text-shadow: 5px 5px 10px firebrick;
  padding-top: 50px;
}

.map-page  {
  background-image: linear-gradient(black, silver, black);
  height: 1500px;
} 

/***************** tablet style ********************/

@media (max-width: 800px) {

  h1 {
    font-size: 80px;
    font-family: Impact;
    text-indent: 35px;
    text-shadow: 15px 15px 30px black;
  }
  
  h1:hover {
    text-shadow: 7px 7px 14px silver;
  }

  .app-title h2 {
    font-size: 20px;
    text-shadow: 15px 15px 30px black;
  }
  
  p h2 {
    font-size: 20px;
    text-shadow: 15px 15px 30px black;
    text-indent: 30px;
  }

  .menu-btn {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 20px;
  }
}

/***************** mobile style ********************/

@media (max-width: 400px) {


  h1 {
    justify-content: center;
    color:rgb(184,26,57);
    font-family: Impact;
    text-shadow: 10px 10px 20px black;
    font-size: 20px;
  }
  
  h1:hover {
    text-shadow: 7px 7px 14px silver;
  }

  .app-title h2{
    display: flex;
    position: inherit; 
    flex-direction: column;
    font-size: 15px;
    color: white;
    text-shadow: 15px 15px 30px black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  p h2 {
    display: flex;
    position: inherit; 
    flex-direction: column;
    font-size: 15px;
    color: black;
    text-shadow: 15px 15px 30px black;
    /* text-indent: 80px; */
    font-family: Arial, Helvetica, sans-serif;
  }

  .menu-btn {
    width: 50px;
    height: 20px;
    border-radius: 5px;
    border-color: firebrick;
    font-size: 20px;
  } 
}

  
/* ***** things to maybe use later ***** */


/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);%%5
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */